[submodule "astro"]
	path = astro
	url = https://github.com/Br4N012/astro.git
[submodule "next"]
	path = next
	url = https://github.com/Br4N012/next.git
[submodule "Angular"]
	path = Angular
	url = https://github.com/Br4N012/Angular.git
[submodule "Express"]
	path = Express
	url = https://github.com/Br4N012/Express.git
